{% extends 'base.html' %}

{% block head %}
Say hello
{% endblock %}

{% block body %}
yoooooo

<h1 style="text-align: center">Template of zak</h1>
<p style="text-align: center">Paragraph 1<br />but this is the problem with it</p>
<img src="https://upload.wikimedia.org/wikipedia/en/4/4d/Shrek_%28character%29.png">
<br>
{%  for message in get_flashed_messages() %}
<p>{{message}}</p>
{% endfor %}
<form action="second_page" method="post">
    <p>Press the button to start the OSCE station:</p>
    <input type="text" name="name_input">
    <br>    
    <input type="submit" value="START" id="second_page">
</form>

{% endblock %}